@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  border: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
main,
.container,
section {
  width: 100%;
}
.search {
  position: relative;
    min-height: 40vh;
    overflow: hidden;
    margin-bottom: 0%;
}
.top-content {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 2;
}
.image {
  width: 100%;
  position: absolute;
  z-index: 1;
}
.search_head {
    font-weight: 700;
    margin:  1rem auto;
    color: rgba(238, 255, 143, 0.797);
    text-align: center;
    font-size: 3rem;
  }
.searchbar {
  background: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}
.btn {
  border: none;
  background-color: #fff;
}
input {
  border: none;
  width:100%;
}
input:focus {
  outline: none;
}
#result{
    background-color: rgba(232, 229, 211, 0.989);
    margin: 0;
    min-height: 60vh;
}
.result_head {
  font-size: 20px;
  text-transform: capitalize;
  margin: 0%;
  padding: 1rem;
}
